# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib

# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Test results
htmlcov/
.coverage

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
